
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: #040404;
    color: white;
 }

.inner { 
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }

  .left { 
    
    position: absolute; 
    bottom: 5vh; 
    left: 5vh;
    width: 50%; 
    height: -100%; 
    color: rgb(100, 100, 100);
    font-size: 1.5vh;
    font-family: "source-code-pro", monospace;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
  }
   

  .right { 
     text-align: right;
    position: absolute; 
    bottom: 5vh; 
    right: 5vh;
    width: 50%; 
    height: -100%; 
    color: rgb(100, 100, 100);
    font-size: 1.5vh;
    font-family: "source-code-pro", monospace;
font-weight: 300;
font-style: normal;
    text-decoration: underline;
  }

  a {
    color: rgb(100, 100, 100);
  }

  a:visited {
    color: rgb(100, 100, 100);
  }


a:hover {
  color: rgb(115, 115, 115);
}

